[Unit]
Description=Clam AntiVirus userspace daemon for OnAccess Scanning
Documentation=man:clamd(8) man:clamd.conf(5) https://www.clamav.net/documents/
ConditionPathExists=/etc/clamd.d/scan.conf
After=clamd@scan.service

[Service]
ExecStart=/usr/bin/clamonacc --foreground

[Install]
WantedBy=multi-user.target
